svg {
  padding-left: 10px;
  padding-top: 35px;
}

.state {
  fill: #ddc;
  fill-opacity: 0.9;
}

.state_contour {
  fill: none;
  stroke: gray;
  stroke-linejoin: round;
  stroke-width: 0.2;
}

.titulo {
  text-align: center;
}

#conteudo {
  position: relative;
}

.nome-presidente {
  width: 220px;
  height: 30px;
  position: absolute;
  padding-left: 5px;
}

#presidente1 {
  left: 10px;
  top: 140px;
}

#presidente2 {
  left: 255px;
  top: 140px;
}

#presidente3 {
  left: 500px;
  top: 140px;
}

#presidente4 {
  left: 745px;
  top: 140px;
}

#presidente5 {
  left: 990px;
  top: 120px;
}

#presidente6 {
  left: 10px;
  top: 415px;
}

#presidente7 {
  left: 255px;
  top: 415px;
}

#presidente8 {
  left: 500px;
  top: 415px;
}

#presidente9 {
  left: 745px;
  top: 415px;
}

#presidente10 {
  left: 990px;
  top: 415px;
}
